/** @Author: 765
 * @Date:   2017-10-20 10:22:11
 * @Last Modified by:   yuchunchun
 * @Last Modified time: 2017-10-27 16:23:19
 */

#tree span, .folderClose{
	display:inline-block; 
}

.folderClose{
	width: 38px;
	height: 20px;
	color: rgba(5,5,5,0);
	text-align: center;
	background-image: url(../images/folder_close_mouseout.png);
	background-position: center center;
}

#tree span, .folderOpen{
	display:inline-block; 
}

.folderOpen{
	width: 38px;
	height: 20px;
	color: rgba(5,5,5,0);
	text-align: center;
	background-image: url(../images/folder_open_mouseout.png);
	background-position: center center;
}

.folderClose:hover{
	background-image: url(../images/folder_close_mouseover.png);
}

.folderOpen:hover{
	background-image: url(../images/folder_open_mouseover.png);
}


.file_icon, .fileA{
	display:inline-block; 
}

#tree .file_icon{
	width: 14px;
	color: rgba(0,0,0,0);
	text-align: center;
	background: url(../images/li_img.png) no-repeat;
	background-position: center center;
}

#tree .fileA{
	color: #000;
}

#tree a{
	text-decoration: none;
}

#tree .fileA:hover{
	color: #00f;
	text-decoration: underline;
}

#tree {
	float: left;
	width: 320px;
	height: 800px;
	overflow: scroll;
	border: 1px solid #ccc;
}

#tree ul {
	list-style: none;
}

.content {
	margin-left: 310px;
}
